body {
    background-image: url('../src/img/pexels-pixabay-59997.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
  }
  
  .fs-1 p {
    transform: rotate(7.5deg);
  }